body {
    background-color: rgb(250, 250, 250);
    min-width: 320px;
    font-family: 'Montserrat', serif;
    margin: 0;
}

img {
    max-width:100%;
    max-height:100%;
}

.main {
    margin-top: 100px;
}

.link {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 60px;
    /* max-height: 200px; */
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
    padding: 5px;
    border: rgb(95, 95, 95) 1px solid;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    height: 35px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
    border: rgb(95, 95, 95) 1px solid;
    border-radius: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, textarea:focus {
    outline: black 1px solid;
    border-radius: 0;
}

.container {
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px;
    padding: 15px;
    background-color: white;
    /* background-color: rgb(248, 252, 255); */
}

.shadow {
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.64); 
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.64);
}

.secondary {
    background-color: rgb(228, 243, 255);
    border: 1px solid rgb(183, 222, 255);
}

.flex {
    display: flex;
}

.gap {
    gap: 5px;
}

.h-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.v-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin {
    margin: 5px;
}

.padding {
    padding: 5px;
}

.no-margin {
    margin: 0;
}

.small-button {
    background-color: white;
    border: 2px solid #0057ba;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: 200ms;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    cursor: default;
}

.small-button:disabled {
    background-color: rgb(200, 200, 200) !important;
    color: black !important;
    cursor: not-allowed;
}

.small-button:visited {
    color: black;
}

.small-button:hover {
    background-color: #80acdf;
    border: 2px solid #004594;
    color: white;
}

.small-button:active {
    background-color: #5392db;
    border: 2px solid #004594;
    color: white;
}

.flex-wrap {
    flex-wrap: wrap;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right-flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-bullet {
    list-style-type: none;
    padding: 0;
}

/*
Responsive
*/
@media only screen and (min-width: 620px) {
    .main {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .row {
        display: flex;
    }

    .maj {
        flex-grow: 2;
    }
    
    .min {
        flex-grow: 1;
    }
}