.wrapper-class {
    padding-bottom: 5px;
}

.editor-class {
    padding-left: 5px;
    padding-right: 5px;
    border: rgb(95, 95, 95) 1px solid;
    cursor: auto;
    background-color: white;
    border-radius: 2px;
}

.focus {
    outline: black 1px solid;
}

.toolbar-class {
    border: rgb(95, 95, 95) 1px solid;
}