.comment {
    /* border-bottom: 1px solid darkgrey; */
    margin-bottom: 15px;
}

.comment-button {
    background-color: transparent;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    transition: 200ms;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #80acdf;
}

.comment-button:active {
    background-color: #5392db;
}

.disabled {
    background-color: rgb(62, 62, 62) !important;
    color: white !important;
    border: 0 !important;
    cursor: not-allowed;
}
