#title {
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
}

#auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#auth form {
    padding: 50px;
    width: 300px;
}

#auth .input {
    width: 100%;
    margin-bottom: 10px;
}

#auth #message {
    flex-wrap: wrap;
}