.input-cloze {
    border: rgb(95, 95, 95) 1px solid;
    cursor: text;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.blanks {
    display: flex;
    min-height: 40px;
}

.input-cloze #input-tags-field {
    flex-grow: 1;
    min-width: 100px;
}