.input-tags {
    display: flex;
    border: rgb(95, 95, 95) 1px solid;
    border-radius: 2px;
    list-style-type: none;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

.input-tags:hover {
    cursor: text;
}

.input-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 3px;
    border: rgb(59, 59, 59) 1px solid;
    border-radius: 3px;
    background-color: rgb(209, 234, 255);
    cursor: pointer;
    position: relative;
}

.input-tag .text {
    margin-right: 20px;
}

/* Position delete tag button in top right */
.input-tag .delete {
    align-self: flex-start;
    position: absolute;
    top: 5px;
    right: 0;
}

#input-tags-field {
    flex-grow: 1;
    width: 1px;
    outline: none;
    border: none;
}

.input-tags:focus, .focus {
    outline: black 1px solid;
    border-radius: 0;
}

.input-tags:hover, .hover {
    border: rgb(36, 36, 36) 1px solid;
}

.full-width {
    max-width: 100%;
}