.loading-spinner {
    z-index: 100;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.small {
    width: 15px;
    height: 15px;
    border: 5px solid darkgray;
    border-top: 5px solid dodgerblue;
}

.big {
    width: 45px;
    height: 45px;
    border: 10px solid darkgray;
    border-top: 10px solid dodgerblue;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}