nav {
    background-color: white;
    overflow: visible;
    width: 100%;
    top: 0;
    margin: 0 0 0 0;
    position: fixed;
    -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.64); 
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.64);
    z-index: 3;
}

#navbar-wrapper {
    margin-left: 15px;
}

nav h1 {
    user-select: none;
}

.nav-button {
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    transition: 200ms;
    border: 0;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    cursor: pointer;
}

.nav-button:visited {
    color: black;
}

.nav-button:hover {
    background-color: #80acdf;
    color: white;
}

.nav-button:active {
    background-color: #5392db;
}

#navbar-options {
    display: none;
}

#mobile-navbar-options {
    display: flex;
    flex-direction: column;
}

#navbar-menu {
    margin-right: 15px;
}

/*
Desktop
*/
@media only screen and (min-width: 1024px) {
    #navbar-options {
        display: flex;
    }

    #navbar-menu {
        display: none;
        visibility: hidden;
    }

    #mobile-navbar-options {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 620px) {

    #navbar-wrapper {
        margin-left: 15%;
        margin-right: 15%;
    }

}