.tag {
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    white-space: nowrap;
    border: 1px solid darkgray;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    font-size: 0.8em;
    font-family: 'Montserrat', serif;
}

.tag:hover {
    background-color: rgb(233, 233, 233);
}